@font-face {
  font-family: "ultrathins";
  src: url("/static/fonts/Ultrathins.ttf");}

@font-face {
  font-family: "submit";
  src: url("/static/fonts/blackjack.otf");}

@font-face {
  font-family: "sign";
  src: url("/static/fonts/BeautyMountains.ttf");}

@font-face {
  font-family: "used";
  src: url("/static/fonts/Benalla.ttf");}

 @font-face {
  font-family: "heading";
  src: url("/static/fonts/Flanella.ttf");}

@font-face {
  font-family: "cursive";
  src: url("/static/fonts/TheRickon.ttf");}

@font-face {
  font-family: "predict";
  src: url("/static/fonts/blackjack.otf");}


body {
  margin: 0;
  background-color: black;
  overflow-x: hidden;
}

.header{
  background-color:rgb(29, 29, 29);
  overflow: hidden;
  position: relative;
}

.header a{
  text-decoration: none;
}

 .h1{
  font-family: 'heading';
  font-size: calc(25px + 4.2vw);
  font-weight: 600;
  color: paleturquoise;
  text-shadow: 0 0 8px rgb(0, 255, 242);
  position: relative;
  text-align: center;
  /* left:0;
  width: 100%; */
  
 }
 
 .h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: calc(2.13vw + 12.31px);
  color: aliceblue;
  text-shadow: 0 0 12px rgb(255, 250, 195);
  position: relative;
  /* bottom: 5px;
  left: 0px;
  width: 100%; */
 }

 form{
   padding-top: 5%;
 }


input[type=radio]{
  display: none;
}


 [class*=text]{
  font-family: "cursive";
  font-size: calc(3.45vw + 7.08px);
  font-weight: 700;
  color: orangered;
  text-shadow: 0 0 14px rgb(255, 34, 5);
}

div[class*="-team-logos"]{
  max-width: 95%;
  margin: 4% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div[class*="-team-logos"] img:hover{
  transform: scale(1.2);
}

div.batting-team-logos img
{
  width:8vw;
  height: 8vw;
  opacity: 0.9;
  cursor: pointer;
}


div.bowling-team-logos img
{
  width: 8vw;
  height: 8vw;
  opacity: 0.9;
  cursor: pointer;
}

div.batting-team-logos :checked+label img
{
  transform: scale(1.05);
  opacity: 2;
  border-color:rgb(199, 251, 255);
  border-radius: 100%;
  padding: 1.26vw;
  left: 0.21vw;
  border-width: 0.1px;
  border-style: solid;
  box-shadow:0 0 18px rgb(104, 222, 255);
}

div.bowling-team-logos :checked+label img
{
  transform: scale(1.05);
  opacity: 2;
  border-color:rgb(255, 101, 242);
  border-radius: 100%;
  padding: 1.26vw;
  left: 0.21vw;
  border-width: 0.1px;
  border-style: solid;
  box-shadow:0 0 18px rgb(255, 110, 199);
}

:disabled+label img:hover{
  cursor: not-allowed;
  transform: scale(1);
}

div.toss-decision{
  max-width: 25%;
  margin: 3% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.toss-decision img
{
  width: 8vw;
  opacity: 0.9;
  cursor: pointer;
}

div.toss-decision img:hover{
  transform: scale(1.2);
}


div.toss-decision :checked+label img
{
  transform: scale(1.01);
  opacity: 2;
  border-color:rgb(51, 255, 0);
  border-radius: 100%;
  padding: 1.8vw;
  border-width: 0.1px;
  border-style: solid;
  box-shadow:0 0 12px rgb(76, 255, 85);
}

.text-inps{
  position: relative;
  top: 5px;
}

input[type=text]{
  text-align: center;
  border: none;
  border-bottom: 2px solid deeppink;
  color:snow;
  background-color: black;
  width: 25%;
  font-family: "ultrathins";
  font-size: calc(2.3vw + 1.73px);
  padding: 0.7%;
}

input[type=text]:focus{
  background-color: transparent;
  box-shadow: 0 0 25px rgb(255, 133, 239);
  clip-path: inset(0px 0px -25px 0px);
  width: 26%;
}

.score-text{
  position: absolute;
  top: 1%;
  left: 12%;
}

#current_score{
  position: absolute;
  top: 17%;
  left: 2%;
}


.runs-6-text{
  position: absolute;
  bottom: 17%;
  left: 3.3%;
}

#last_6_score{
  position: absolute;
  bottom: 2%;
  left: 3.3%;
}

.overs-text{
  position: absolute;
  top: 30%;
  left: 41.7%;
}

#overs{
  position: absolute;
  top: 48.16%;
  left: 39.1%;
}

.wickets-text{
  position: absolute;
  top: 1%;
  right: 10%;
}

#current_wickets{
  position: absolute;
  top: 17%;
  right: 3.3%;
}

.wickets-6-text{
  position: absolute;
  bottom: 17%;
  right: 3.3%;
}

#last_6_wickets{
  position: absolute;
  bottom: 2%;
  right: 3.3%;
}


.submit-button{
  background-color: rgb(25, 255, 5);
  color: black;
  border-radius: 45%;
  border-color: transparent;
  width: 11%;
  height: 9.5%;
  position: absolute;
  bottom: -18%;
  left: 45%;
  cursor: pointer;
}

.submit-button span::after{
  font-family: "submit";
  font-size: calc(2.31vw + -0.54px);
  text-align: center;
  content: "Predict!";
  
}

.submit-button:hover{
  transform: scale(1.15);
  background-color: black;
  color: rgb(25, 255, 5);
  box-shadow: 0 0 10px rgb(25, 255, 5);
}

.submit-button:hover span::after{
  content: "GO!";
}

.help{
  position: absolute;
  bottom: -22%;
  right: 1.5%;
  width: 16.5%;
  display: flex;
  flex-direction: column-reverse;

}

.help img{
  width: 30%;
  margin: auto;
}

.help span{
  font-family: 'Montserrat';
  font-size: calc(1.16vw + 2.81px);
  border-radius: 4%;
  text-shadow: none;
  color: ghostwhite;
  background-color: rgb(37, 37, 37);
  margin-bottom: 11%;
  opacity: 0;
}

.help img:hover + span,.help img:active + span{
  opacity: 0.85;
}

.credits{
  position: relative;
  top: 12vw;
  background-color: rgb(29, 29, 29);
}

.used{
  padding-top: 2%;
  font-family: "used";
  font-size: calc(1.37vw + 6.94px);
  color: rgb(255, 2, 36);
  font-weight: 500px;
}

.sign{
  font-family: "sign";
  font-size: calc(1.45vw + 12.8px);
  color: ghostwhite;
}

.prediction{
  position: relative;
  color:rgb(20, 99, 247);
  font-family: "cursive";
  font-weight: 300;
  font-size: 50px;
  height: 530px;
}

.team {
  width: 18vw;
  height: 18vw;
  border-radius: 5%;
  box-shadow: 0 0 8px ghostwhite;
}

.team.a {
  position: absolute;
  left: 25%;
  top:5%;
}

.prediction span:nth-of-type(1){
  font-size: calc(3.74vw + 2.53px);
  position: absolute;
  left:48%;
  top: calc(4.25vw + 39.69px);
  color: wheat;
  font-family: "heading";
  text-shadow: 0 0 5px deeppink;
}


.team.b{
  position: absolute;
  left: 55%;
  top: 5%;
}

.predict-span{
  font-size: calc(2.55vw + 10.82px);
  position: relative;
  left: 3%;
  top: 20vw;
  color: ghostwhite;
  text-shadow: 0 0 9px deeppink;
  font-family: "submit";
}

.predict-span.b{
  text-decoration: underline;
  font-size: calc(2.55vw + 15.82px);
}

.predict-span.d{
  position: relative;
  top:23vw;
}