@font-face {
  font-family: "ultrathins";
  src: url("/static/fonts/Ultrathins.ttf");}

@font-face {
  font-family: "submit";
  src: url("/static/fonts/blackjack.otf");}

@font-face {
  font-family: "sign";
  src: url("/static/fonts/BeautyMountains.ttf");}

@font-face {
  font-family: "used";
  src: url("/static/fonts/Benalla.ttf");}

 @font-face {
  font-family: "heading";
  src: url("/static/fonts/Flanella.ttf");}

@font-face {
  font-family: "cursive";
  src: url("/static/fonts/TheRickon.ttf");}

@font-face {
  font-family: "predict";
  src: url("/static/fonts/blackjack.otf");}

.header{
  background-color:rgb(29, 29, 29);
  position: relative;
  top: -55px;
  height: 300px;
  
}

 .h1{
  font-family: 'heading'; 
  font-size: 90px; 
  font-weight: 600;
  color: paleturquoise;
  text-shadow: 0 0 8px rgb(0, 255, 242);
  position: absolute;
  top:5px;
  left:520px;
 }
 
 .h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 45px;
  color: aliceblue;
  text-shadow: 0 0 12px rgb(255, 250, 195);
  position: absolute;
  bottom: 5px;
  left: 610px;
 }


input[type=radio]{
  display: none;
}

body {
  background-color: black;
  overflow-x: hidden;
 }

 [class*=text]{
  font-family: "cursive";
  font-size: 60px;
  font-weight: 700;
  color: orangered;
  text-shadow: 0 0 14px rgb(255, 34, 5);
}


div.batting-team-logos img
{
  width:100px;
  height: 100px;
  position: relative;
  margin:46px;
  left: 15px;
  opacity: 0.9;
}


div.bowling-team-logos img
{
  width: 100px;
  height: 100px;
  position: relative;
  margin: 46px;
  left: 15px;
  opacity: 0.9;
}

div.batting-team-logos :checked+label img
{
  transform: scale(1.05);
  opacity: 2;
  border-color:rgb(199, 251, 255);
  border-radius: 100%;
  padding:18px;
  left: 3px;
  border-width: 0.1px;
  border-style: solid;
  box-shadow:0 0 18px rgb(104, 222, 255);
}

div.bowling-team-logos :checked+label img
{
  transform: scale(1.05);
  opacity: 2;
  border-color:rgb(255, 101, 242);
  border-radius: 100%;
  padding:18px;
  left: 3px;
  border-width: 0.1px;
  border-style: solid;
  box-shadow:0 0 18px rgb(255, 110, 199);
}

div.toss-decision img
{
  width: 100px;
  height: 100px;
  position: relative;
  margin: 46px;
  left: 605px;
  top: 20px;
  opacity: 0.9;
}


div.toss-decision :checked+label img
{
  transform: scale(1.1);
  opacity: 2;
  border-color:rgb(51, 255, 0);
  border-radius: 100%;
  padding:20px;
  border-width: 0.1px;
  border-style: solid;
  box-shadow:0 0 18px rgb(76, 255, 85);
}

.text-inps{
  position: relative;
  top: 5px;
}

input[type=text]{
  text-align: center;
  border: none;
  border-bottom: 2px solid deeppink;
  color:snow;
  background-color: black;
  width: 20%;
  font-family: "ultrathins";
  font-size: 30px;
  padding: 20px;
}

input[type=text]:focus{
  box-shadow: 0 0 25px rgb(255, 133, 239);
  clip-path: inset(0px 0px -25px 0px);
  width: 21%;
}

.score-text{
  position: absolute;
  top: 40px;
  left: 150px;
}

#current_score{
  position: absolute;
  top: 120px;
  left: 30px;
}


.runs-6-text{
  position: absolute;
  bottom: 120px;
  left: 50px;
}

#last_6_score{
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.overs-text{
  position: absolute;
  top: 260px;
  left: 670px;
}

#overs{
  position: absolute;
  top: 340px;
  left: 630px;
}

.wickets-text{
  position: absolute;
  top: 40px;
  right: 150px;
}

#current_wickets{
  position: absolute;
  top: 120px;
  right: 30px;
}

.wickets-6-text{
  position: absolute;
  bottom: 120px;
  right: 30px;
}

#last_6_wickets{
  position: absolute;
  bottom: 30px;
  right: 30px;
}


.submit-button{
  background-color: rgb(25, 255, 5);
  color: black;
  border-radius: 45%;
  border-color: transparent;
  width: 160px;
  height: 90px;
  position: absolute;
  bottom: -130px;
  left: 750px;
}

.submit-button span::after{
  font-family: "submit";
  font-size: 35px;
  content: "Predict!";
  
}

.submit-button:hover{
  background-color: black;
  color: rgb(25, 255, 5);
  box-shadow: 0 0 10px rgb(25, 255, 5);
}

.submit-button:hover span::after{
  content: "GO!";
}

.credits{
  position: relative;
  top: 180px;
  background-color: rgb(29, 29, 29);
}

.used{
  padding-top: 25px;
  font-family: "used";
  font-size: 28px;
  color: rgb(255, 2, 36);
  font-weight: 500px;
}

.sign{
  font-family: "sign";
  font-weight: 700px;
  font-size: 35px;
  color: ghostwhite;
}

.prediction{
  position: relative;
  color:rgb(20, 99, 247);
  font-family: "cursive";
  font-weight: 300;
  font-size: 50px;
  height: 530px;
}

.team {
  width: 200px;
  height: 200px;
  border-radius: 5%;
  box-shadow: 0 0 8px ghostwhite;
}

.team.a {
  position: absolute;
  left: 550px;
  top:15px;
}

.prediction span:nth-of-type(1){
  font-weight: 700;
  font-size: 60px;
  position: absolute;
  left:790px;
  top: 90px;
  color: wheat;
  font-family: "heading";
  text-shadow: 0 0 5px deeppink;
}


.team.b{
  position: absolute;
  left: 880px;
  top: 15px;
}

.predict-span{
  font-weight: 700;
  font-size: 50px;
  position: relative;
  left: 20px;
  top: 260px;
  color: ghostwhite;
  text-shadow: 0 0 9px deeppink;
  font-family: "submit";
}

.predict-span.b{
  text-decoration: underline;
  font-size: 65px;
}

.predict-span.d{
  position: absolute;
  left:400px;
  top:570px;
}